<h1>About me!</h1>

<ul>
	<li>Name: Alessandro Cetera</li>
	<li>Email: alessandro.cetera@gmail.com</li>	
	<li>Birthday: Sept. 25 1990</li>
	<li>Hometown: Jersey City, NJ</li>
	<li>Favorite Food: Pizza</li>
	<li>Favorite Movie: The Matrix</li>
	<li>Favorite Band: Antonio Venditti</li>
</ul>