<h1>Final Project</h1>

<div>This is my idea for a project:</div>
	<ul>
		<li>Name: Tinder for Clothes </li>
		<li>Description: Simple site that allows users to up or down vote clothes taken from the Amazon API</li>
	</ul>
</div>